.root {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 1em;

  width: 80%;
  max-width: 1300px;
  margin: 0 auto;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header {
  grid-column: 1/-1;
  font-size: 2rem;
  position: sticky;
  top: 0;
  background-color: white;
}

main {
  grid-column: 1/3;
  padding-left: 1em;
}

.votes {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1.5em;
}

header .flex {
    gap: .75em;
}


.logo_name span {
    color:blue
}


aside {
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);;
  border-radius: 4px;
  padding: 1.5em;
  height: fit-content;

  position: sticky;
  top: 100px;
}
  
ul {
  list-style-type: none;
  padding: 0;
}

@media (max-width:960px) {
  .root {
    margin-top: 2rem;
  }

  /* aside {
      display: none;
  } */

  main {
    grid-column: 1/4;
  }

  .flex {
    justify-content: center;
    gap: .75em;

  }

  .logo_name p {
    display: none;
  }
}